<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="animation-delay:inherit " > automation of LED</title>
</head>
<body style="background:black ; text-align: center">
   <h1 style="color:wheat" >ON/OFF LED SYSTEM</h1> 
   <form action="on"> 
   <button style=" margin-left:10px ; margin-top: 50px ; border-radius: 10px ;font-size: 30px" >ONN</button>
   </form>
   <form action="off">
    <button style="border-radius: 10px ; margin-left:200px  ; font-size: 30px; margin-top: -70px">OFF</button>
    </form>
</html>